@import url('https://fonts.googleapis.com/css2?family=Star+Wars:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


@media (max-width: 768px) {
    #pdf-link {
        margin-top: 20px; /* Less space on smaller screens */
        width: 30%; /* Larger percentage for smaller screens */
        max-width: 120px; /* Adjust maximum size for smaller screens */
    }
}



@media (max-width: 480px) {
    #pdf-link {
        margin-top: 10px; /* Even less space on very small screens */
        width: 40%; /* Even larger percentage for very small screens */
        max-width: 100px; /* Adjust maximum size for very small screens */
    }
}
body {
    /* Assuming you have a 'laser.png' image in the same directory as your CSS */
    cursor: url('laser.png'), auto;
}
h1 {
    font-family: 'Questrial', sans-serif;
    color: #e4dcc3; /* Replace with the color code you identified */
    /* Other styling */
}


body {
    background-color: #000020;
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#main-content h1 {
    font-family: 'Questrial', sans-serif;
    font-size: 4em;
    text-align: center;
    margin: 0;
    position: relative;
    top: -50px;
}

#scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    bottom: 0;
    font-size: 2em; /* Makes the text twice as big */
    padding: 20px; /* Increase the padding to enlarge the frame */
    left: 0; /* Make sure it starts from the far left */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* As per your design */
    padding: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
    font-family: 'Questrial', sans-serif;
    color: #ffecb7
    
}

#scrolling-content {
    display: inline-block;
    animation: scroll-text 30s linear infinite; /* Adjust speed as necessary */
}

@keyframes scroll-text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

marquee {
    font-size: 1.2em;
    color: #ffecb7;
}

.star {
    position: absolute;
    background-color: #ffecb7;
    border-radius: 50%;
    z-index: 1;
    transition: left 1s ease-out, top 1s ease-out; /* Smooth transition for 1 second */
}

/* Additions for ground and sky illusion */
#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background: linear-gradient(to top, #0A0A0A 0%, transparent 100%);
    z-index: 10;
}

#shooting-star {
    position: absolute;
    background-color: white;
    height: 1px;
    z-index: 5;
    display: none;
}

#album-cover {
    position: relative; /* Required for z-index to work */
    z-index: 2; /* Higher than the stars */
    width: 80%; /* Adjust based on desired size */
    max-width: 500px; /* Prevents the image from being too large on big screens */
    display: block;
    margin: 20px auto 0; /* Adds space above the image and centers it horizontally */
}


#pdf-image {
    width: 100%; /* Ensures the image fills the container */
    display: block;
}

#pdf-link {
    display: block;
    margin: 40px auto 0; /* Increase the top margin to push it down */
    width: 20%; /* Larger width as a percentage of the parent container */
    max-width: 200px; /* Larger maximum size of the PDF icon */
    /* Rest of your styles */
}

#pdf-icon {
    width: 100%; /* Ensures the image scales with the container */
    height: auto; /* Maintains the aspect ratio of the image */
    /* Rest of your styles */
}

#uploading-section {
    text-align: center;
    margin: 20px auto; /* Adjust as needed */
}

#progress-bar-container {
    width: 80%;
    background-color: rgba(52, 35, 0, 1);
    border-radius: 5px;
    margin: 0 auto;
    height: 20px; /* Adjust as needed */
}

#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #fffde7;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
    transition: width 1s ease-out; /* Smooth transition for 1 second */
}

#countdown-timer {
    font-family: 'Questrial', sans-serif;
    color: #fffde7; /* Color same as the progress bar */
    margin-top: 10px; /* Adjust as needed */
    font-size: 1.2em;
}

#file-uploading-text {
    font-family: 'Questrial', sans-serif;
    color: #fffde7; /* Color same as the progress bar */
    text-align: center;
    margin-bottom: 5px; /* Spacing above the progress bar */
    /* Add more styles as needed */
    font-size: 1.2em;
    display: flex; /* Use flexbox */
    align-items: center; /* Vertically center the items */
    justify-content: center; /* Center items horizontally, adjust as needed */
    /* Add any additional styling as needed */
}

#loading-dots {
    display: inline-block;
    width: 20px; /* Adjust the width as needed */
    text-align: left;
    /* You can add additional styling if needed */
}

.no-star-zone {
    position: relative;
    z-index: 2; /* Higher than the stars */
    /* Define the size and position to cover the area of the elements */
}

@charset "UTF-8";
:root {
  --duration: 1.5s;
  --container-size: 50px; /* Half of the original size, adjust as needed */
  --box-size: 9px;      /* Half of the original size, adjust as needed */
  --box-border-radius: 15%;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-left: 18px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.📦 {
  width: var(--box-size);
  height: var(--box-size);
  position: relative;
  display: block;
  transform-origin: -50% center;
  border-radius: var(--box-border-radius);
}
.📦:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fffde7;
  border-radius: var(--box-border-radius);
  box-shadow: 0px 0px 10px 0px #9e9e9e;
}
.📦:nth-child(1) {
  animation: slide var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(1):after {
  animation: color-change var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(2) {
  animation: flip-1 var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(2):after {
  animation: squidge-1 var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(3) {
  animation: flip-2 var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(3):after {
  animation: squidge-2 var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(4) {
  animation: flip-3 var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(4):after {
  animation: squidge-3 var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(5) {
  animation: flip-4 var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(5):after {
  animation: squidge-4 var(--duration) ease-in-out infinite alternate;
}
.📦:nth-child(2):after {
  background-color: #fffde7;
}
.📦:nth-child(3):after {
  background-color: #fffde7;
}
.📦:nth-child(4):after {
  background-color: #fffde7;
}
.📦:nth-child(5):after {
  background-color: #fffde7;
}

@keyframes slide {
  0% {
    background-color: #fffde7;
    transform: translatex(0vw);
  }
  100% {
    background-color: #fffde7;
    transform: translatex(
      calc(var(--container-size) - (var(--box-size) * 1.25))
    );
  }
}

@keyframes color-change {
  0% {
    background-color: #fffde7;
  }
  100% {
    background-color: #fffde7;
  }
}

@keyframes flip-1 {
  0%,
  15% {
    transform: rotate(0);
  }
  35%,
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-1 {
  5% {
    transform-origin: center bottom;
    transform: scalex(1) scaley(1);
  }
  15% {
    transform-origin: center bottom;
    transform: scalex(1.3) scaley(0.7);
  }
  25%,
  20% {
    transform-origin: center bottom;
    transform: scalex(0.8) scaley(1.4);
  }
  55%,
  100% {
    transform-origin: center top;
    transform: scalex(1) scaley(1);
  }
  40% {
    transform-origin: center top;
    transform: scalex(1.3) scaley(0.7);
  }
}

@keyframes flip-2 {
  0%,
  30% {
    transform: rotate(0);
  }
  50%,
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-2 {
  20% {
    transform-origin: center bottom;
    transform: scalex(1) scaley(1);
  }
  30% {
    transform-origin: center bottom;
    transform: scalex(1.3) scaley(0.7);
  }
  40%,
  35% {
    transform-origin: center bottom;
    transform: scalex(0.8) scaley(1.4);
  }
  70%,
  100% {
    transform-origin: center top;
    transform: scalex(1) scaley(1);
  }
  55% {
    transform-origin: center top;
    transform: scalex(1.3) scaley(0.7);
  }
}

@keyframes flip-3 {
  0%,
  45% {
    transform: rotate(0);
  }
  65%,
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-3 {
  35% {
    transform-origin: center bottom;
    transform: scalex(1) scaley(1);
  }
  45% {
    transform-origin: center bottom;
    transform: scalex(1.3) scaley(0.7);
  }
  55%,
  50% {
    transform-origin: center bottom;
    transform: scalex(0.8) scaley(1.4);
  }
  85%,
  100% {
    transform-origin: center top;
    transform: scalex(1) scaley(1);
  }
  70% {
    transform-origin: center top;
    transform: scalex(1.3) scaley(0.7);
  }
}

@keyframes flip-4 {
  0%,
  60% {
    transform: rotate(0);
  }
  80%,
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes squidge-4 {
  50% {
    transform-origin: center bottom;
    transform: scalex(1) scaley(1);
  }
  60% {
    transform-origin: center bottom;
    transform: scalex(1.3) scaley(0.7);
  }
  70%,
  65% {
    transform-origin: center bottom;
    transform: scalex(0.8) scaley(1.4);
  }
  100%,
  100% {
    transform-origin: center top;
    transform: scalex(1) scaley(1);
  }
  85% {
    transform-origin: center top;
    transform: scalex(1.3) scaley(0.7);
  }
}